@import "_variables.scss"

@import "parts/_navbar.scss"
@import "parts/_footer.scss"
@import "parts/_home.scss"
@import "parts/_about.scss"
@import "parts/_blog.scss"
@import "parts/_projects.scss"

:root {
  background-color: var(--background-color);
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  height: 100%;

  ::selection {
    color: var(--background-color);
    background: #e6cf50 ;
  }

  body {
    height: 100%;
    margin: 0;
  }

  main {
    flex: 1;
  }

  .section {
    min-height: 100%;
    display: flex;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    flex: 1;
  }

  @media (max-width: 710px) {
  .content {
    max-width: 90%; 
  }
}

  a:link, a:visited {
      color: var(--color-primary);
  }

  
}
