.about-container {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 250px;
    margin: 2em;
  }
}

@media only screen and (max-width: 710px) {
  .about-container {
    display: block;
    align-items: center;
    justify-content: center;
  }  
}
