footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 1em 0;
}

.footer-left, .footer-center, .footer-right {
  margin: 0.5rem auto;
}

.footer-left {
  text-align: left;
  margin-left: 0;

  #clock {
    font-family: monospace;
    font-size: large;
  }
}

.footer-center {
  justify-self: center;
  text-align: center;
}

.footer-right {
  margin-right: 0;
  text-align: right;
}
