footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.footer-left,
.footer-center,
.footer-right {
  margin: 0.5rem auto;
}

.footer-left {
  text-align: left;
  margin-left: 0;

  #clock {
    font-family: monospace;
    font-size: large;
  }
}

.footer-center {
  justify-self: center;
  text-align: center;
}

.footer-right {
  margin-right: 0;
  text-align: right;
}

@media (max-width: 710px) {
  .footer-right,
  .footer-center,
  .footer-left {
    margin-left: auto;
    margin-right: auto;
  }
}
