.home-container {
  margin-top: 5rem;

  .connect {
    margin-top: 5rem;

    .connect-table {
      width: 100%;
      margin-top: 2rem;

      td {
        padding-bottom: 1rem;
        vertical-align: top;
        
        a::after {
          display: inline-block;
          content: "↗";
          color: var(--color-medium-tint);
          margin-left: 0.15ch;
          text-decoration: none;
        }
      }
    }
  }
}
