header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em 0;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  nav a {
    margin: 0 3px;
  }
}

@media (max-width: 710px) {
  .page-title {
    display: none;
  }
}
