.project-item {
  display: flex;
  align-items: stretch;
  padding: 16px;

  .project {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 12px;
    cursor: pointer;

    .project-title {
      font-size: 20px;
      font-weight: medium;
      text-decoration: none;
      margin-bottom: 6px;
    }

    a:hover {
      text-decoration: underline;
    }
    
    p {
      margin: 0;
    }

    .project-description {
      height: 100%;
      color: var(--color-primary-shade);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 1.5;
    }
  }
}
