<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <title>Simone Tassi</title>   
  <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  
  <link rel="icon" type="image/png" href="/icons/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/icons/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/icons/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/icons/favicon/site.webmanifest" /> 
 
</head>

<body>
  <section class="section">
    <div class="content">
      {% include "navbar.html" %}
      <main>{% block content %} Nothing here :O {% endblock %}</main>
      {% include "footer.html" %}
    </div>
  </section>
</body>

<script>
const timezone = "{{ config.extra.clock.timezone | default(value='Europe/Rome') | safe}}";
const city = "{{ config.extra.clock.city | default(value='Bologna') }}";

document.addEventListener("DOMContentLoaded", function() {
  function updateClock() {
    const options = { 
      timeZone: timezone,
      hour: '2-digit', 
      minute: '2-digit',
      second: '2-digit',
      hour12: false
    };
    
    const time = new Date().toLocaleTimeString('it-IT', options);
    document.getElementById('clock').textContent = `${city}, ${time}`;
    
    // Update every second
    setTimeout(updateClock, 1000);
  }
  
  updateClock();
});
</script>

</html>

