{% extends "base.html" %}

{% block content %}
<ul style="padding-left: 10px;">
  {% for page in section.pages %}
  <li class="post-item" onclick="location.href='{{ page.permalink | safe }}';">
    <img class="img-preview" src="{{ page.extra.img }}"></img>
    <div class="post">
      <p class="post-title">{{ page.title }}</p>
      <p class="date">{{ page.date }}</p>
      <div class="post-description">
        <p>{{ page.description }}</p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}

